{% extends "base.html" %}
{% block title %} Dashboard {% endblock title %} 
{% block page_content %}
<h1>Capture Stock Movement</h1>
<div class="container p-5 ">
  <form class="needs-validation" novalidate method="post">
    {% csrf_token %} 
    <div class="form-row">
        <div class="form-group col-md-4 mb-3">
            <label for="product">Product</label>
            <select class="form-control" id="product_name" name="product_name" value="" required>
              <option  value="" selected hidden>Select the Product</option>
              {% for option in product_list %}
              <option value="{{ option }}" {% if option == product_name %}selected{% endif %}>{{option}}</option>
              {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-4 mb-3">
            <label for="movemet_type">Type</label>
            <select class="form-control" id="movemet_type" name="movemet_type" value="" required>
              <option  value="" selected hidden>Select the Product</option>
              <option value="in">IN</option>
              <option value="out">OUT</option>
            </select>
        </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="quantity">Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity" placeholder="12" value="0" required>
        <div class="invalid-feedback">
          Please provide quantity
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <label for="startDate">Date</label>
        <input id="startDate" class="form-control" type="date" name="date" required/>
        <span id="startDateSelected"></span>
      </div>
      
      <div class="form-group col-md-6 mb-3">
        <label for="address">Note</label>
        <textarea class="form-control" id="note" name="note" rows="4" ></textarea>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
  </form>
</div>

<script>
    startDate.addEventListener('change',(e)=>{
        let startDateVal = e.target.value
        document.getElementById('startDateSelected').innerText = startDateVal
      })
</script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>
{% endblock page_content %}
